@model ZSZ.FrontWeb.Models.UserUpdatePassword
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">输入新密码</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            @Html.TextBoxFor(p=>p.Password,new { placeholder = "请输入新密码", @class="sname snametwo", type="password"})
            <input type="text" name="" id="" value=""  />
        </li>
        <li class="clearfloat">
            @Html.TextBoxFor(p => p.ConfirmPassword, new { placeholder = "请再次输入新密码", @class = "sname snametwo", type = "password" })
        </li>
    </ul>
    <a id="btnConfirm" href="#" class="pay-btn clearfloat">
        确认修改
    </a>
</div>

@section Footer{
    <script type="text/javascript">
        $(function () {
            //发送验证码
            $("#btnConfirm").click(function () {
                $.ajax({
                    url: "@Url.Action("ForgotPassword3","User")",
                    type: "POST",
                    dataType: "json",
                    data: $("#vForm").serializeArray(),
                    success: function (res) {
                        if (res.Status =="ok")
                        {
                            location.href = "@Url.Action("ForgotPassword4", "User")"
                        }
                    },
                    error: function () {

                    }
                })
            });
        })
    </script>    
}		

