@model
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">短信验证</p>
</div>

<div class="modify clearfloat" id="main">
    <form id="vForm">
        <ul>
            <li class="clearfloat">
                <input type="text" name="phoneNum" id="" value="" placeholder="@Model" class="syzma fl" />
                <a id ="reSendCode" href="#" class="fr">发送验证码</a>
            </li>
            <li class="clearfloat">
                <input type="text" name="smsCode" id="" value="" placeholder="请输入手机短信中的验证码" class="sname" />
            </li>
        </ul>
    </form>
    <a id="btnNext" href="lose.html" class="pay-btn clearfloat">
        验证
    </a>
</div>
@section Footer{
    <script type="text/javascript">
        $(function () {
            //验证验证码
            $("#btnNext").click(function () {
                $.ajax({
                    url: "@Url.Action("ForgotPassword2","User")",
                    type: "POST",
                    dataType: "json",
                    data: $("#vForm").serializeArray(),
                    success: function (res) {
                        if (res.Status =="ok")
                        {
                            location.href = "@Url.Action("ForgotPassword3", "User")"
                        }
                    },
                    error: function () {
                        alert("服务器出错");
                    }
                })
            });
        })
    </script>    
}		

