
@{
    ViewBag.Title = "ForgotPassword";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">修改密码</p>
</div>

<div class="modify clearfloat" id="main">
    <form id="vForm">
        <ul>
            <li class="clearfloat">
                <input type="text" name="phoneNum" id="" value="" placeholder="手机" class="sname" />
            </li>
            <li class="clearfloat">
                <input type="text" name="captchaCode" id="" value="" placeholder="请输入右图验证码" class="syzma fl" />
                <span class="fl"><img id="imgVerifyCode" src="" /></span>
                <a id="picRefresh" href="#" class="fr">换一张</a>
            </li>
        </ul>
    </form>
    <a id="btnNext" href="#" class="pay-btn clearfloat">
        下一步
    </a>
</div>
@section Footer{
    <script type="text/javascript">
        $(function () {
            $("#imgVerifyCode,#picRefresh").click(function () {
            $("#imgVerifyCode").attr("src", "@Url.Action("GenerateCaptchaPic","Main")" + "?" + Math.random());
            });
            $("#imgVerifyCode").click();
            //发送验证码
            $("#btnNext").click(function () {
                $.ajax({
                    url: "@Url.Action("ForgotPassword","User")",
                    type: "POST",
                    dataType: "json",
                    data: $("#vForm").serializeArray(),
                    success: function (res) {
                        if (res.Status =="ok")
                        {
                            location.href = "@Url.Action("ForgotPassword2", "User")"
                        }
                    },
                    error: function () {

                    }
                })
            });
        })
    </script>    
}		

