
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js"></script>
    <script src="~/template.js"></script>
    <script id="s1" type="text/html">
        {{each list as item}}
        <tr><td>{{item.name}}</td><td>{{item.url}}</td></tr>
        {{/each}}
    </script>
    <script type="text/javascript">
        $(function () {
            var data = [{ name: "yue", url: "www.baidu.com" }, { name: "test2", url: "www.baidu2.com" }, { name: "test3", url: "www.baidu3.com" }]
            for (var i = 0; i < data.length; i++)
            {
                var item = data[i];
                $("<tr><td>" + item.name + "</td><td>" + item.url + "</td><tr>").appendTo($("#t1"));
            }
            var html = template('s1', {list:data});
            document.getElementById('t1').innerHTML = html;
        });
    </script>
    <title>jstemp</title>
</head>
<body>
    <div> 
        <table id="t1"></table>
    </div>
</body>
</html>
